
ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    position: relative;
    width: 20%;
    padding: 5px;
    &:hover {
      z-index: 5;
    }
  }
}
.tag {
  width: 100%;
  height: 100%;
  background: #eee;
  padding: 15px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.album {
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    z-index: 5; 
    transform: scale(1.025, 1.025);
    img {
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
  }
  img {
    transition: 0.25s;
    z-index: 2;
    position: relative;
  }
  &:before {
    transition: 0.5s;
    content: '';
    width: 92%;
    height: 92%;
    border-radius: 100%;
    background: red;
    position: absolute;
    right: 3%;
    top: 3.5%;
    z-index: 1;
  }
  &:hover:before {
    right: -5%;
  }
}