<ul *ngIf="albums">
    <li *ngIf="tag"><div class="tag"><span>{{ tag.title }}</span></div></li>
    <ng-template ngFor let-album [ngForOf]="albums" let-i="index">
        <li *ngIf="album" class="album">
            <img [src]="album.images[1].url"/>
            <!-- <h3>{{ album.artists[0].name }}</h3> -->
            <!-- <h4>{{ album.name }}</h4> -->
        </li>
    </ng-template>
</ul>
<div *ngIf="!albums">
    Loading...
</div>