
$icon-font-path: "/node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/bootstrap-block-grid/dist/bootstrap3-block-grid.min';

img {
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
        display: inline-block;
    }
}