

<h2>Search</h2>

<input type="text" [formControl]="search" (keydown)="searchAlbum($event)" maxlength="100" />

<ul *ngIf="albums">
  <ng-template ngFor let-album [ngForOf]="albums" let-i="index">
    <li (click)="createPost(album)"><strong>{{ album.artists[0].name }}</strong> - {{ album.name }} - {{ album.id }}</li>
  </ng-template>
</ul>